
    <div style="position: absolute;
    padding-top: 10px;
    width: 9%;
    top: 3%;
    margin: 0px;
    padding: 0px;
    left: 47%;
    color:white">
        <h4>{{current_time | date:'hh:mm:ss'}}</h4>
    </div>
<div style="text-align: -webkit-center;">
    <div style="position: absolute;
    padding-top: 10px;
    width: 9%;
    top: 35%;
    margin: 0px;
    padding: 0px;
    left: 46%;
    color:white">
        
        <h3>MARKET</h3>
        <span style="    float: left;
    padding-top: 15px;
    font-size: 10px;">{{AppSettings.ten_cars_price|number}}$ => 10 </span>

        <img src="../assets/car.png" style="width: 23%;float: right;margin: 10px 10px 0px 0px;">
    
    <span style="    float: left;
    padding-top: 15px;
    font-size: 10px;">{{AppSettings.ten_beds_price|number}}$ => 10 </span>

        <img src="../assets/bed.png" style="width: 23%;float: right;margin: 2px 10px 0px 0px;">  
        
       <span style="    float: left;
    padding-top: 15px;
    font-size: 10px;">{{AppSettings.ten_rooms_price|number}}$ => 10 </span>

        <img src="../assets/room.png" style="width: 23%;float: right;margin: 2px 10px 0px 0px;">
    
    <span style="    float: left;
    padding-top: 15px;
    font-size: 10px;">{{AppSettings.ten_tables_price|number}}$ => 10 </span>

        <img src="../assets/table.png" style="width: 23%;float: right;margin: 2px 10px 0px 0px;">       

    <span style="    float: left;
    padding-top: 15px;
    font-size: 10px;">------------------ </span>
        <span style="    float: left;
    padding-top: 15px;
    font-size: 10px;">♦ 1 car gives you {{AppSettings.car_per_hour|number}}$/hour</span>
        <span style="    float: left;
    padding-top: 15px;
    font-size: 10px;">♦ 1 bed gives you {{AppSettings.bed_per_hour|number}}$/hour</span>
     <span style="    float: left;
    padding-top: 15px;
    font-size: 10px;">♦ 1 table gives you {{AppSettings.table_per_hour|number}}$/hour</span>
     <span style="    float: left;
    padding-top: 15px;
    font-size: 10px;">♦ 1 room gives you {{AppSettings.room_per_hour|number}}$/hour</span>

    </div>
    <!-- team 1 -->
    <h2></h2>
    <app-team [team]="1"></app-team>
    <!-- team 2 -->
    <app-team [team]="2"></app-team>
    <!-- team 3 -->
    <app-team [team]="3"></app-team>
    <!-- team 4 -->
    <app-team [team]="4"></app-team>
</div>
<!-- add money btn -->
 <button class="btn btn-primary btn-xs"  (click)="backup()"
    style="position: absolute;left: 10px;top:10px;">backup</button>

<style>
    app-team {
        width: 48%;
        display: inline-block;
    }
</style>