<div style="text-align: -webkit-center;">
    <div style="position: absolute;
    padding-top: 10px;
    width: 9%;
    top: 35%;
    margin: 0px;
    padding: 0px;
    left: 46%;
    color:white">
        <h3>MARKET</h3>
        <span style="    float: left;
    padding-top: 12px;
    font-size: 13px;
    margin-left: 7px;">20$ => 10 </span>

        <img src="../assets/car.png" style="width: 23%;float: right;margin: 10px 10px 0px 0px;">
    </div>
    <!-- team 1 -->
    <h2></h2>
    <app-team [team]="1"></app-team>
    <!-- team 2 -->
    <app-team [team]="2"></app-team>
    <!-- team 3 -->
    <app-team [team]="3"></app-team>
    <!-- team 4 -->
    <app-team [team]="4"></app-team>
</div>

<style>
    app-team {
        width: 48%;
        display: inline-block;
    }
</style>