

<div style="background-image:url('../../assets/land1.jpg');background-repeat:no-repeat;background-size:contain;background-position:center;width:550px;height:350px;position: relative;">
  <div style="   
    position: absolute;
    left: 9%;
    top: -4%;
    float: left!important;">
    <h2 style="margin-bottom: 0px;">Bank: {{money}}</h2>
    <h4 style="float: left;margin-top: 0px;">Profit: {{current_profit()}}/hour</h4>
  </div>
  <!-- hotel buy btn -->
  <button class="btn btn-warning btn-xs {{money<hotel_price?'disabled':'active'}}" *ngIf="!purchases.hotel.purchased" (click)="buy_hotel()"
    style="position: absolute;left: 77%;top: 31%;">Buy ({{hotel_price}})</button>

  <!-- cars_shop buy btn -->
  <button class="btn btn-warning btn-xs  {{money<cars_shop_price?'disabled':'active'}}" *ngIf="!purchases.cars_shop.purchased"
    (click)="buy_cars_shop()" style="position: absolute;left: 10%;top: 48%;">Buy ({{cars_shop_price}})</button>

  <!-- hospital buy btn -->
  <button class="btn btn-warning btn-xs  {{money<hospital_price?'disabled':'active'}}" *ngIf="!purchases.hospital.purchased"
    (click)="buy_hospital()" style="position: absolute;left: 43%;top: 18%;">Buy ({{hospital_price}})</button>

  <!-- restaurant buy btn -->
  <button class="btn btn-warning btn-xs  {{money<restaurant_price?'disabled':'active'}}" *ngIf="!purchases.restaurant.purchased"
    (click)="buy_restaurant()" style="
position: absolute;left: 34%;top: 58%;
">Buy ({{restaurant_price}})</button>

  <!-- hotel info -->
  <div style="background-image:url('../../assets/callout.png');background-repeat:no-repeat;background-size:contain;background-position:center;width:101px;height:108px;position: absolute;left: 2%;top: 13%;">
   
  </div>


</div>